<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GETIID.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GETIID.Properties.Settings>
            <setting name="url" serializeAs="String">
                <value>https://microsoft.gointeract.io/interact/index?interaction=1461173234028-3884f8602eccbe259104553afa8415434b4581-05d1&amp;accountId=microsoft&amp;loadFrom=CDN&amp;appkey=196de13c-e946-4531-98f6-2719ec8405ce&amp;Language=English&amp;name=pana&amp;CountryCode=en-US&amp;Click%20To%20Call%20Caller%20Id=+17142064889&amp;startedFromSmsToken=3jUenpr&amp;dnis=26&amp;token=0Yr8Nd</value>
            </setting>
            <setting name="browser_driver" serializeAs="String">
                <value>edge</value>
            </setting>
            <setting name="browser_binary_location" serializeAs="String">
                <value />
            </setting>
            <setting name="portable_mode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="browser_driver_location" serializeAs="String">
                <value />
            </setting>
            <setting name="remote_server_address" serializeAs="String">
                <value />
            </setting>
            <setting name="remote_server_platform" serializeAs="String">
                <value>WINDOWS</value>
            </setting>
        </GETIID.Properties.Settings>
    </userSettings>
</configuration>